.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game__area{
  width: 600px;
  height: 600px;
  margin: 50px auto;
  border: 2px solid;
  border-color: lightseagreen;
  position: relative;
  box-shadow: (0 4px 60px (0,0,0,0.5));
}

.snake__dot{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: teal;
  border: none;
  border-radius: 10px;
  z-index: 2;
}

.snake__food{
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  border-radius: 3px;
  z-index: 1;
}
